DATABASE_URL=postgresql://meeting_room:meeting_room@localhost:5432/meeting_room?schema=public
API_INTERNAL_URL=http://localhost:3001
APP_ORIGIN=http://localhost:3000
NOTIFY_BEFORE_MINUTES=10
POSTGRES_DB=meeting_room
POSTGRES_PASSWORD=meeting_room
POSTGRES_USER=meeting_room
